apiVersion: apps/v1
kind: Deployment
metadata:
  name: falcosidekick
  namespace: default
  labels:
    helm.sh/chart: falcosidekick-0.7.13
    app.kubernetes.io/name: falcosidekick
    app.kubernetes.io/instance: falcosidekick
    app.kubernetes.io/component: core
    app.kubernetes.io/version: "2.28.0"
    app.kubernetes.io/part-of: falcosidekick
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: falcosidekick
      app.kubernetes.io/instance: falcosidekick
      app.kubernetes.io/component: core
  template:
    metadata:
      labels:
        helm.sh/chart: falcosidekick-0.7.13
        app.kubernetes.io/name: falcosidekick
        app.kubernetes.io/instance: falcosidekick
        app.kubernetes.io/component: core
        app.kubernetes.io/version: "2.28.0"
        app.kubernetes.io/part-of: falcosidekick
        app.kubernetes.io/managed-by: Helm
      annotations:
        checksum/config: 63445e20ac0ffdb678fd8c02e2ac13469caba51712e69392192cebc3b3266abd
    spec:
      serviceAccountName: falcosidekick
      securityContext:
        fsGroup: 1234
        runAsUser: 1234
      containers:
        - name: falcosidekick
          image: "docker.io/falcosecurity/falcosidekick:2.28.0"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 2801
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
          envFrom:
            - secretRef:
                name: falcosidekick
          env:
            - name: DEBUG
              value: "false"
            - name: CUSTOMFIELDS
              value: ""
            - name: TEMPLATEDFIELDS
              value: ""
            - name: BRACKETREPLACER
              value: ""
            - name: MUTUALTLSFILESPATH
              value: "/etc/certs"
            - name: MUTUALTLSCLIENT_CERTFILE
              value: ""
            - name: MUTUALTLSCLIENT_KEYFILE
              value: ""
            - name: MUTUALTLSCLIENT_CACERTFILE
              value: ""
          resources:
            {}
