apiVersion: apps/v1
kind: Deployment
metadata:
  name: falcosidekick
  namespace: default
  labels:
    helm.sh/chart: falcosidekick-0.12.1
    app.kubernetes.io/name: falcosidekick
    app.kubernetes.io/instance: falcosidekick
    app.kubernetes.io/version: "2.31.1"
    app.kubernetes.io/part-of: falcosidekick
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: core
  annotations:
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: falcosidekick
      app.kubernetes.io/instance: falcosidekick
      app.kubernetes.io/component: core
  template:
    metadata:
      labels:
        helm.sh/chart: falcosidekick-0.12.1
        app.kubernetes.io/name: falcosidekick
        app.kubernetes.io/instance: falcosidekick
        app.kubernetes.io/version: "2.31.1"
        app.kubernetes.io/part-of: falcosidekick
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/component: core
      annotations:
        checksum/config: 9779f17259f515a0ca26f16ba4737432e041e61bbc0507a20075a0583455a1b1
    spec:
      serviceAccountName: falcosidekick
      securityContext:
        fsGroup: 1234
        runAsUser: 1234
      containers:
        - name: falcosidekick
          image: "docker.io/falcosecurity/falcosidekick:2.32.0"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 2801
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
          envFrom:
            - secretRef:
                name: falcosidekick
          env:
            - name: DEBUG
              value: "false"
            - name: CUSTOMFIELDS
              value: ""
            - name: TEMPLATEDFIELDS
              value: ""
            - name: CUSTOMTAGS
              value: ""
            - name: OUTPUTFIELDFORMAT
              value: ""
            - name: BRACKETREPLACER
              value: ""
            - name: MUTUALTLSFILESPATH
              value: "/etc/certs"
            - name: MUTUALTLSCLIENT_CERTFILE
              value: ""
            - name: MUTUALTLSCLIENT_KEYFILE
              value: ""
            - name: MUTUALTLSCLIENT_CACERTFILE
              value: ""
            - name: TLSCLIENT_CACERTFILE
              value: ""
          resources:
            {}
