apiVersion: v1
kind: Service
metadata:
  name: falcosidekick
  namespace: default
  labels:
    helm.sh/chart: falcosidekick-0.8.9
    app.kubernetes.io/name: falcosidekick
    app.kubernetes.io/instance: falcosidekick
    app.kubernetes.io/version: "2.29.0"
    app.kubernetes.io/part-of: falcosidekick
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: core
  annotations:
    prometheus.io/scrape: "true"
spec:
  type: ClusterIP
  ports:
    - port: 2801
      targetPort: http
      protocol: TCP
      name: http
    - port: 2810
      targetPort: http-notls
      protocol: TCP
      name: http-notls
  selector:
    app.kubernetes.io/name: falcosidekick
    app.kubernetes.io/instance: falcosidekick
    app.kubernetes.io/component: core
---
