apiVersion: v1
kind: ServiceAccount
metadata:
  name: falco
  namespace: default
  labels:
    helm.sh/chart: falco-3.8.5
    app.kubernetes.io/name: falco
    app.kubernetes.io/instance: falco
    app.kubernetes.io/version: "0.36.2"
    app.kubernetes.io/managed-by: Helm
---
